
API_BASE_URL="http://localhost:4000"
NEXTAUTH_SECRET="omitted"

UNSPLASH_ACCESS_KEY="omitted"

GEOAPIFY_KEY="omitted"
MAP_TILER_KEY="omitted"

# Turso
# turso db show --url trip-planner
TURSO_DATABASE_URL=libsql://trip-planner-wesleybliss.aws-us-east-1.turso.io

# turso db tokens create trip-planner
TURSO_AUTH_TOKEN=omitted
