@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap';
@import 'tailwindcss';
@import 'tw-animate-css';
@import '../lib/styles/root.css';
@import '../lib/styles/base.css';
@import '../lib/styles/components.css';
@import '../lib/styles/fonts.css';
@import '../lib/styles/theme.css';
@import '../lib/styles/theme-dark.css';
@import '../lib/styles/utilities.css';

/* @custom-variant dark (&:is(.dark *)); */
@custom-variant dark (&:where(.dark, .dark *, [data-theme=dark], [data-theme=dark] *));

@plugin 'daisyui' {
    themes: ['light', 'dark'];
    root: ':root';
    logs: true;
}
